.containerOrderPage{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
.controls_products{
    margin:2rem 0rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
}

.categories_product{
    font-family: var(--font);
    background-color: var(--color-red);
    border: none;
    border-radius: 1rem;
    padding: 1rem 0rem;
    font-size: 2rem;
    color: white;
    outline: none;
    width: 25rem;
    text-align: center;
    cursor: pointer;
}

.categories_product option{
    background-color: var(--color-white);
    color: var(--color-red);
}

.buttonCancel__area{
    display: flex;
    justify-content: end;
}

.button-cancel{
    border: none;
    background-color: var(--color-gray);
    border-radius: 1rem;
    font-size: 2rem;
    color: var(--color-white);
    width: 20rem;
    text-align: center;
    font-family: var(--font);
    cursor: pointer;
    
}

.layout-orderPage{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
}

.screen{
    position: relative;
}
