.contentStates{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100%;
    padding: 5rem 10rem;
}

.cardState{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    height: 13rem;
    color: var(--color-white);
    align-items: center;
    gap: 1rem;
}

.cardState p{
    font-size: 4rem;
}

.cardState-red{
    background-color: var(--color-red);
}
.cardState-green{
    background-color: var(--color-green);
}
.cardState-yellow{
    background-color: var(--color-yellow);
}