.ticketView{
    position: absolute;
    background-color: var(--color-screen-back);
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticketViewPanel{
    background-color: var(--color-white);
    width: 60rem;
    height: 40rem;
    border-radius: 1rem;
    padding: 1rem 5rem;
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    animation-name: authCard;
    animation-duration: .3s;
}

.logoSmall{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.resume{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    align-items: center;
    gap: 2rem;
}
.resume label{
    color: var(--color-gray);
    font-size: 3rem;
}
.resume input{
    border: none;
    padding: 1rem;
    background: var(--color-input-screen);
    border-radius: 1rem;
    outline: none;
    color: var(--color-green);
    font-size: 2.5rem;
    margin: 0;
    text-align: end;
    font-family: var(--font);
}

.buttonTicket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.buttonTicket button{
    width: 30rem;
    padding: 1.5rem;
    border: none;
    border-radius: 1rem;
    font-family: var(--font);
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: 2rem;
}

.message{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.message__icon img{
    width: 20rem;
    margin-top: 2rem;
}

.message__text{
    font-size: 4rem;
    margin-top: 3rem;
    color: var(--color-green);
}

.border-success{
    border: 1rem solid var(--color-green);
}
/*Animations*/
@keyframes authCard {
    0%{
        margin-top: -50rem;
        opacity: 0;
    }

    100%{
        margin-top: 0rem;
        opacity: 1;
    }
}