.product{
    padding: 1rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: productAnimate;
    animation-duration: .5s;
    
}
.product__img{

    filter: drop-shadow(0.35rem 0.35rem 0.35rem rgba(0, 0, 0, 0.589));

        
    animation-name: productAnimate;
    animation-duration: 1s;
}
.product__name{
    color: var(--color-gray);
    font-size: 2rem;
}

.product__price{
    color: var(--color-green);
    font-size: 2.5rem;
}


/*Animations*/
@keyframes productAnimate {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}