/*Panel Orders Style*/
.content{
    display: flex;
   justify-content: space-between;
   padding: 2rem;
    
}

.btn-back{
    background-color: var(--color-gray);
    border: none;
    border-radius: 1rem;
    color: var(--color-white);
    font-size: x-large;
    text-align: center;
    padding: 1rem 3rem 1rem 3rem;
}

.form{
    display: flex;
    justify-content: flex-end;
}

.input input{
    border: none;
    padding: .5rem;
    outline: none;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding: 1rem;
    font-size: large;
    border-right: none;
    border-left: 2px solid var(--color-gray);
    border-top: 2px solid var(--color-gray);
    border-bottom: 2px solid var(--color-gray);
}

.btn-submit button{
    padding: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: var(--color-white);
    border-left: none;
    border-right: 2px solid var(--color-gray);
    border-top: 2px solid var(--color-gray);
    border-bottom: 2px solid var(--color-gray);
}

.btn-submit button img{
    width: 2.7rem;
}


