.modalStep1{
    background-color: var(--color-white);
    width: 50rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    animation: modalStep1Animation;
    animation-duration: .5s;
}

.modalStep1 h2{
    font-size: 3rem;
    text-align: center;
    color: var(--color-gray);
}
.optionsModalStep1 {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.optionRed{
    background-color: var(--color-red);
}
.optionOk{
    background-color: var(--color-green);
}
.optionsModalStep1 button{
    width: 100%;
    border: none;
    padding: 2rem;
    color: var(--color-white);
    border-radius: 1rem;
    font-size: 3rem;
}

@keyframes modalStep1Animation {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}