.ticketOrder{
    background-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    height: 48rem;
    padding: 2rem 3rem;
}

.input-client{
    border: none;
    width: 100%;
    border-bottom: 3px solid var(--color-red);
    padding: .2rem 0rem;
    outline: none;
}


.line{
    width: 100%;
    height: 1rem;
    border-bottom: 2px dashed var(--color-gray);

}

.listProducts{
    height: 30rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem .3rem;
}

.totalTicket{
    margin-top: .8rem;
    padding: .5rem 0rem .5rem 1rem;
    border-top: 3px solid var(--color-red);
    color: var(--color-gray);
    margin-bottom: 1rem;
}
.totalTicket span{
    color: var(--color-green);
}

.addOrderButton{
    background-color: var(--color-red);
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: var(--color-white);
    font-family: var(--font);
    border-radius: 1rem;
}