.layoutViewOrder{
    max-width: 75rem;
    width: 90%;
    margin: 0 auto;
}

.viewOrderContent{
    margin-top: 1rem;
    height: 55rem;
}

.viewOrderPanel{
    border-radius: 1rem;
    box-shadow: var(--shadow);
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    height: 50rem;
    margin-top: 1rem;
    padding: 1rem 0rem;
    gap: 3rem;
}
.separator{
    width: 80%;
    margin: 0 auto;
    height: 2px;
    background-color: var(--color-red);
    border-radius: 5px;
}

.productItemView{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
